<div class="container text-center">
<h1>About Page</h1>
<p>We are BunnyMatch. Our Service focuses on creating an exclusive community where Bunnies who really like dark humour meet.<br><br>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, recusandae, voluptatem, nemo et aut aspernatur praesentium repellendus accusantium dicta sed suscipit dolorem nostrum deleniti quam nam expedita quaerat voluptate amet.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, neque, magnam amet eius culpa distinctio ab eaque similique. Enim, rerum, itaque omnis id similique maxime quo et soluta? Quia, dolorum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, ullam, omnis quos quod saepe vero nemo pariatur deserunt eaque earum? Consequuntur, itaque, aspernatur nemo possimus doloribus neque in ipsa tempora.

</p>
</div>